{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the PoKedex!</h1>
<p>Browse through the links below to find your desired Pokemon by their type!:</p>
<ul>
    <li><a href="/pkdex/bug">Bug</a></li>
    <li><a href="/pkdex/dragon">Dragon</a></li>
    <li><a href="/pkdex/electric">Electric</a></li>
    <li><a href="/pkdex/fighting">Fighting</a></li>
    <li><a href="/pkdex/fire">Fire</a></li>
    <li><a href="/pkdex/flying">Flying</a></li>
    <li><a href="/pkdex/ghost">Ghost</a></li>
    <li><a href="/pkdex/grass">Grass</a></li>
    <li><a href="/pkdex/ground">Ground</a></li>
    <li><a href="/pkdex/ice">Ice</a></li>
    <li><a href="/pkdex/normal">Normal</a></li>
    <li><a href="/pkdex/poison">Poison</a></li>
    <li><a href="/pkdex/psychic">Psychic</a></li>
    <li><a href="/pkdex/rock">Rock</a></li>
    <li><a href="/pkdex/water">Water</a></li>
</ul>
{% endblock %}