{% extends 'base.html' %}

{% block content %}
<h1>Register a Pokemon to the Pokedex!</h1>
<form action="{{ url_for('update') }}" method="post">
    <input type="hidden" name="pkmn_id" value="{{ pkmn.id }}">
    <label for="pkmn_type">Type of Pokemon:</label>
    <select name="pkmn_type" id="pkmn_type" required>
        <option disabled selected value>...</option>
        {% if pkmn.pkdex_type == "bug" %}
        <option value="bug" selected>Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.pkdex_type == "dragon" %}
        <option value="bug">Bug</option>
        <option value="dragon" selected>Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "electric" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric" selected>Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "fighting" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting" selected>Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "fire" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire" selected>Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "flying" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying" selected>Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "ghost" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost" selected>Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "grass" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass" selected>Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "ground" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground" selected>Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "ice" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice" selected>Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "normal" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal" selected>Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "poison" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison" selected>Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "psychic" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic" selected>Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "rock" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock" selected>Rock</option>
        <option value="water">Water</option>
        {% elif pkmn.animal_type == "water" %}
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electric">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water" selected>Water</option>
        {% endif %}
    </select><br><br>
    <label for="pkmn_name">Name of Pokemon:</label>
    <input type="text" name="pkmn_name" id="pkmn_name" value="{{ pkmn.name }}" required><br><br>
    <label for="pkmn_url">Image URL:</label>
    <input type="url" name="pkmn_url" id="pkmn_url" value="{{ pkmn.url }}"><br>
    <textarea name="pkmn_desc" cols="30" rows="10">{{ pkmn.description }}</textarea><br>
    <input type="submit" value="Update!">
</form>
{% endblock %}